In [8]:
from bs4 import BeautifulSoup

In [2]:
def get_EPS(file):
    result = []
    soup = BeautifulSoup(open(file), "html.parser")
    lst = soup.find_all('small')
    for tag in lst:
        a = tag.find('a')
        if a != None and a.text.isupper():
            temp = [a.text]
            p = a.parent
            for i in range(3):
                p = p.findNext('small')
                temp.append(p.text)
            result.append(temp)
    return result

In [5]:
result = get_EPS("../data/raw/EPS/20021101.txt")

In [6]:
result

[['ADLR', '4.41', '-0.65', '-0.68'],
 ['CI', '1.36', '1.49', '1.47'],
 ['DDR', '1.67', '0.61', '0.60'],
 ['EMA.TO', '30.77', '0.17', '0.13'],
 ['HSP', '9.09', '0.12', '0.11'],
 ['ITLA', '5.26', '0.80', '0.76'],
 ['NNBR', '7.69', '0.14', '0.13'],
 ['OHI', '5.26', '0.20', '0.19'],
 ['PTSI', '16.67', '0.35', '0.30'],
 ['PTSX', '28.57', '0.09', '0.07'],
 ['ROAC', '42.11', '0.27', '0.19'],
 ['STRA', '5.56', '0.19', '0.18'],
 ['HME', '0.00', '0.81', '0.81'],
 ['RGCI', '0.00', '0.04', '0.04'],
 ['HML.TO', '-18.18', '-0.26', '-0.22'],
 ['HLR', 'N/A', '-0.02', '0.00'],
 ['LANC', '-12.50', '0.56', '0.64'],
 ['PME', '-59.26', '-0.43', '-0.27'],
 ['FFF.TO', '-115.00', '-0.03', '0.20'],
 ['WSPT.OB', '-85.71', '-0.13', '-0.07']]

In [21]:
import os
from tqdm import tqdm

In [22]:
result = []
for file in tqdm(os.listdir('../data/raw/EPS')):
    if 'txt' not in file:
        continue
    temp = get_EPS('../data/raw/EPS/' + file)
    date = int(file.split('.')[0])
    for t in temp:
        result.append([date] + t)

100%|██████████| 2614/2614 [02:47<00:00, 15.59it/s]

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(result, columns=['Report Date', 'Code', 'Surprise(%)', 'Reported EPS', 'Consensus EPS'])

In [25]:
df.head()

   Report Date Code Surprise(%) Reported EPS Consensus EPS
0     20030716  AMR       14.72        -2.26         -2.65
1     20030716  AMD       25.93        -0.40         -0.54
2     20030716  ADS       16.67         0.21          0.18
3     20030716  ALL       13.33         0.85          0.75
4     20030716  ASD        0.55         1.83          1.82

In [26]:
df.shape

(133343, 5)

In [18]:
pd.read_csv('../data/processed/EPS.csv').shape

(133343, 5)

In [19]:
pd.read_csv('../data/processed/EPS.csv').head()

   Report Date    Code  Surprise(%)  Reported EPS  Consensus EPS
0     20021101    ADLR         4.41         -0.65          -0.68
1     20021101      CI         1.36          1.49           1.47
2     20021101     DDR         1.67          0.61           0.60
3     20021101  EMA.TO        30.77          0.17           0.13
4     20021101     HSP         9.09          0.12           0.11

In [15]:
df.to_csv('EPS.csv', index=None)